%table
  %tr
    %td
      %canvas#canvas
  %tr
    %td
      %form(form='get' id='gerar_onda_submit')
        %table
          %tr
            %th Amplitude
            %td
              %input.campo(name='amplitude' value='50' tabindex='1')
            %th Frequencia
            %td
              %input.campo(name='frequencia' value='2' tabindex='4')
          %tr
            %th Lambda
            %td
              %input.campo(name='lambda' value='100' tabindex='2')
            %th Periodo
            %td
              %input.campo(name='periodo' value='0.5' tabindex='5')
          %tr
            %th Velocidade
            %td
              %input.campo(name='velocidade' value='200' tabindex='3')
            %td
              %input(type='submit' value='Gerar Onda' tabindex='6')
