%table
  %tr
    %td
      %canvas(width="500" height="200" style="background-color: black" id="canvas")
  %tr
    %td
      %form(form='get' id='gerar_onda_submit')
        %table
          %tr
            %th
              Amplitude
            %td
              %input(name='amplitude' value='50' tabindex='1')
            %th
              Frequencia
            %td
              %input(name='frequencia' value='2' tabindex='4')
          %tr
            %th
              Lambda
            %td
              %input(name='lambda' value='100' tabindex='2')
            %th
              Periodo
            %td
              %input(name='periodo' value='0.5' tabindex='5')
          %tr
            %th
              Velocidade
            %td
              %input(name='velocidade' value='200' tabindex='3')
            %td
              %input(type='submit' value='Gerar Onda' tabindex='6')
