%html
  %head
    %link(rel='stylesheet' type='text/css' href='css/style.css')
    %title Ondas No Canvas
  %body
    %div#header 
      %img(src="/images/ondas2_48x48.png")
      %h1#titulo Ondas No Canvas
      %a#subtitulo(href="https://github.com/HugoLnx/ondas-no-canvas" tabindex='-1') https://github.com/HugoLnx/ondas-no-canvas
    = yield
    %p#erro
      Erro:
      %span#mensagem_de_erro
  %script(src='tmp/pacote.todos.js' type='text/javascript')
