%html
  %head
    %title Ondas No Canvas
  %body
    %h1 Ondas No Canvas
    %table
      %tr
        %td
          = yield
        %td(valign="top")
          %b Autor: 
          Hugo Roque (a.k.a HugoLnx)
          %br
          %b Email: 
          hugo.roque@caelum.com.br
          %br
          %b Twitter: 
          %a(href="http://twitter.com/hugolnx") http://twitter.com/hugolnx
          %br
          %b Blog: 
          %a(href="http://hugolnx.wordpress.com") http://hugolnx.wordpress.com
          %br
          %b Codigo Fonte em:
          %a(href="https://github.com/HugoLnx/ondas-no-canvas") https://github.com/HugoLnx/ondas-no-canvas
  %script(src='js/jquery.js' type='text/javascript')
  %script(src='js/ajax.js' type='text/javascript')
  %script(src='js/animacao.js' type='text/javascript')
